<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${pageTitle}">User Login</title>
    <link rel="stylesheet" href="../../static/bootstrap/css/bootstrap.min.css"
          th:href="@{../bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<header th:replace="fragments/parts::menu">
</header>
<main>
    <div class="container">
        <br />
        <div class="card align-self-center" style="width: 20rem;">
            <!--<img class="card-img-top" src="..." alt="Card image cap" />-->
            <div class="card-block">
                <h4 class="card-title" th:text="${userViewModel.getFullName()}"></h4>
                <p class="card-text">Text</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item" th:text="${userViewModel.getEmail()}"></li>
                <li class="list-group-item" th:text="${userViewModel.getUserType()}"></li>
            </ul>
            <div class="card-block">
                <button type="button" class="btn btn-warning">
                    <a th:href="@{/user/edit/{id}(id=${userViewModel.getId()})}" th:text="Edit" class="card-link"></a>
                </button>
                <button type="button" class="btn btn-danger" sec:authorize="hasRole('ROLE_ADMIN')">
                    <a th:href="@{/user/delete/{id}(id=${userViewModel.getId()})}" th:text="Delete" class="card-link"></a>
                </button>
            </div>
        </div>
    </div>
</main>
<script th:src="@{../jquery/jquery.min.js}"></script>
<script th:src="@{../bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>