<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${pageTitle}">User Login</title>
    <link rel="stylesheet" href="../../static/bootstrap/css/bootstrap.min.css"
          th:href="@{../bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<header th:replace="fragments/parts::menu">
</header>
<main>
    <div class="container">
        <th:block th:replace="fragments/forms::register-form"></th:block>
    </div>
</main>
<script th:src="@{../jquery/jquery.min.js}"></script>
<script th:src="@{../bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>