<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${pageTitle}">Car Wash</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css"
          th:href="@{bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<header th:replace="fragments/parts::menu">
</header>
<main>
    <div class="container">
        <br/>
        <p class="h2 text-center">Home</p>

        <h3>Hello, <span th:text="${facebookProfile.name}">Some User</span>!</h3>

        <h4>Here is your feed:</h4>

        <div th:each="post:${feed}">
            <b th:text="${post.from.name}">from</b> wrote:
            <p th:text="${post.message}">message text</p>
            <img th:if="${post.picture}" th:src="${post.picture}"/>
            <hr/>
        </div>
    </div>
</main>
<script th:src="@{jquery/jquery.min.js}"></script>
<script th:src="@{bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{js/request.js}"></script>
</body>
</html>